# SV ND Scribe Workspace Environment Variables
# Copy to .env or run `make config_vscode` (or `python makedir/configure_vscode.py`) to generate automatically.

SVND_SCRIBE_HOME=/path/to/sv-nd-scribe
PYTHONPATH=/path/to/sv-nd-scribe
SV_ND_SCRIBE_PROJECT_CONFIG=/path/to/sv-nd-scribe/linter/configs
