# VS Code
.vscode/
**/.vscode/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Environment & Local Configs
.env
agent_config.json


# Node
node_modules/
linter.log
linter_bad.log

